---
"on":
  push:
    paths-ignore:
      - "**.md"
      - docs/*
  pull_request:
    paths-ignore:
      - "**.md"
      - docs/*
  workflow_dispatch:

# https://github.com/softprops/action-gh-release/issues/236
permissions:
  contents: write

env:
  python-version: 3.x
  cache: pip

jobs:
  # test:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       runs-on:
  #         - ubuntu-latest
  #         - macos-latest
  #         - windows-latest
  #   runs-on: ${{ matrix.runs-on }}
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: ${{ env.python-version }}
  #         cache: ${{ env.cache }}
  #         cache-dependency-path: |-
  #           requirements.txt
  #           requirements/dev.txt
  #     - name: Install dependencies
  #       run: |
  #         pip install -e '.[dev]'
  #     - name: Test
  #       run: |
  #         pre-commit run -a
  build:
    # needs: test
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python-version }}
          cache: ${{ env.cache }}
          cache-dependency-path: |-
            requirements.txt
            requirements/dev.txt
      - name: Install dependencies
        run: |
          pip install build
      - name: Build
        run: |
          python -m build
      - uses: actions/upload-artifact@v3
        if: runner.os == 'Linux' && ! startsWith(github.ref, 'refs/tags/')
        with:
          path: |
            dist/*
            build/resources/*
      - uses: softprops/action-gh-release@v1
        if: runner.os == 'Linux' && startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/*
            build/resources/*
      - uses: pypa/gh-action-pypi-publish@release/v1
        if: runner.os == 'Linux' && startsWith(github.ref, 'refs/tags/')
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
